  <div class="col-xs-12 col-sm-12 col-md-4">
    <div class="card card-home card-dashboard text-center">
      <%= image_tag "peopleoffice.jpg", class: "card-img-top img-fluid" %>
      <h4 class="card-title"> <%= job.title %></h4>
      <p class="company"><%= job.company %></p>
      <h4 class="location"><%= job.location_list %></h4>

      <div data-job-id='<%= job.id %>'>
       <% if favorite = job.user_favorite(current_user) %>

       <ul class="list-inline">
        <%= link_to job_favorite_path(favorite, job), remote: true, method: :delete do %>
        <li class="card-text saveme">Delete me! </li>
        <li><i class="fas fa-heart unfav"></i></li>
        <% end %>
      </ul>

      <% else %>
      <ul class="list-inline">
        <%= link_to job_favorites_path(job), remote: true, method: :post do %>
        <li class="card-text saveme">Save me! </li>
        <li><i class="fas fa-heart fav"> </i></li>
      </ul>
      <% end %>
      <% end %>

    </div>
    <%= link_to 'Details...', job_path(job), class: "btn btn-page" %>
  </div>

