<body id="dashboard-body">
  <div class="dashboard-header">
    <h1>Dashboard</h1>

    <div id="dashboard-photo">
      <%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill %>
    </div>
  </div>

  <div class="tabs">
    <ul class="list-inline nav justify-content-end nav-tabs">
      <a href="#" class="select-tab" data-target="job-list">
        <li class="nav-item nav-link">jobs</li>
      </a>
      <a href="#" class="select-tab" data-target="favorite-list">
        <li class="nav-item nav-link">favorites</li>
      </a>
      <a href="#" class="select-tab" data-target="applied-list">
        <li class="nav-item nav-link">applied</li>
      </a>
    </ul>
  </div>

  <div id="job-list" class="job-listings">
    <h2>Jobs</h2>

    <% if !@my_matched_jobs.empty? %>
    <div class="card-deck">
      <% @my_matched_jobs.each do |job| %>
      <%= link_to job_path(job) do %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card text-center">
          <%= image_tag "peopleoffice.jpg", class: "card-img-top img-fluid" %>
          <div class="card-block">
            <h4 class="card-title"><%= job.title %></h4>
            <p class="card-text company"><%= job.company %></p>
            <p class="card-text"><p><%= job.location %></p>
            <div data-job-id='<%= job.id %>'>
              <% if favorite = job.user_favorite(current_user) %>

              <ul class="list-inline">
                <%= link_to favorite_path(favorite), remote: true, method: :delete do %>
                <li class="card-text saveme">Delete me! </li>
                <li><i class="fas fa-heart unfav">  </i></li>
                <% end %>
              </ul>

              <% else %>
              <ul class="list-inline">
                <%= link_to job_favorites_path(job), remote: true, method: :post do %>
                <li class="card-text saveme">Save me! </li>
                <li><i class="fas fa-heart fav"> </i></li>
                <% end %>
              </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <% else %>
    <p> Great! Thanks for the info! We'll be back in touch if any jobs come up matching your profile. Feel free to go home and relax. </p>
    <% end %>
  </div>

  <div id="favorite-list" class="job-listings" hidden>
    <h2>Favorites</h2>

    <div class="card-deck">
      <% @favorited.each do |job| %>
      <%= link_to job_path(job) do %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card text-center">
          <%= image_tag "peopleoffice.jpg", class: "card-img-top img-fluid" %>
          <div class="card-block">
            <h4 class="card-title"><%= job.title %></h4>
            <p class="card-text company"><%= job.company %></p>
            <p class="card-text"><p><%= job.location %></p>

            <div data-job-id='<%= job.id %>'>
              <% if favorite = job.user_favorite(current_user) %>

              <ul class="list-inline">
                <%= link_to favorite_path(favorite), remote: true, method: :delete do %>
                <li class="card-text saveme">Delete me! </li>
                <li><i class="fas fa-heart unfav">  </i></li>
                <% end %>
              </ul>

              <% else %>
              <ul class="list-inline">
                <%= link_to job_favorites_path(job), remote: true, method: :post do %>
                <li class="card-text saveme">Save me! </li>
                <li><i class="fas fa-heart fav"> </i></li>
                <% end %>
              </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>


  <div id="applied-list" class="job-listings" hidden>
    <h2>Applied</h2>

    <div class="card-deck">
      <% @applied.each do |job| %>
      <%= link_to job_path(job) do %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card text-center">
          <%= image_tag "peopleoffice.jpg", class: "card-img-top img-fluid" %>
          <div class="card-block">
            <h4 class="card-title"><%= job.title %></h4>
            <p class="card-text company"><%= job.company %></p>
            <p class="card-text"><p><%= job.location %></p>

            <div data-job-id='<%= job.id %>'>
              <% if favorite = job.user_favorite(current_user) %>

              <ul class="list-inline">
                <%= link_to favorite_path(favorite), remote: true, method: :delete do %>
                <li class="card-text saveme">Delete me! </li>
                <li><i class="fas fa-heart unfav">  </i></li>
                <% end %>
              </ul>

              <% else %>
              <ul class="list-inline">
                <%= link_to job_favorites_path(job), remote: true, method: :post do %>
                <li class="card-text saveme">Save me! </li>
                <li><i class="fas fa-heart fav"> </i></li>
                <% end %>
              </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <% if registration_signed_in? %>
  Signed in as <%= current_user.first_name %> <%= current_user.last_name %>. Not you?
  <%= link_to "Sign out", destroy_registration_session_path,:method => :delete %>
  <% else %>
  <%= link_to "Sign up", new_registration_registration_path %> or
  <%= link_to "Sign in", new_registration_session_path %>
  <%= link_to "Sign in with Linkedin",registration_omniauth_authorize_path(:linkedin) %>
  <% end %>

  <script>
    const tabs = document.querySelectorAll(".select-tab")
    const lists = document.querySelectorAll(".job-listings")
    tabs.forEach(function(tab) {
      tab.addEventListener("click", function(event) {
        let target = tab.getAttribute("data-target");
        let toActivateTab = document.getElementById(target);
        lists.forEach(list => list.hidden = true);
        toActivateTab.hidden = false
      })
    })
  </script>
</body>
