<body id="dashboard-body">


  <div class="dashboard-header">
    <h1>Dashboard</h1>
  </div>

  <div class="tabs">
    <ul class="list-inline nav justify-content-end nav-tabs">
      <a href="#" class="select-tab" data-target="job-list">
        <li class="nav-item nav-link">jobs</li>
      </a>
      <a href="#" class="select-tab" data-target="favorite-list">
        <li class="nav-item nav-link">favorites</li>
      </a>
      <a href="#" class="select-tab" data-target="applied-list">
        <li class="nav-item nav-link">applied</li>
      </a>
    </ul>
  </div>

  <div id="job-list" class="job-listings">
    <h2>Jobs</h2>

    <div class="card-deck">
      <% @jobs.each do |job| %>
      <%= link_to job_path(job) do %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card text-center">
          <%= image_tag "peopleoffice.jpg", class: "card-img-top img-fluid" %>
          <div class="card-block">
            <h4 class="card-title"><%= job.title %></h4>
            <p class="card-text company"><%= job.company %></p>
            <p class="card-text"><p><%= job.location %></p>

            <% if job.favorited?(current_user) %>

            <ul class="list-inline">
              <%= link_to favorite_path(job.favorite_by(current_user)), method: :delete do %>
              <li class="card-text saveme">Delete me! </li>
              <li><i class="fas fa-heart unfav">  </i></li>
              <% end %>
            </ul>

            <% else %>
            <ul class="list-inline">
              <%= link_to job_favorites_path(job), method: :create do %>
              <li class="card-text saveme">Save me! </li>
              <li><i class="fas fa-heart fav"> </i></li>
              <% end %>
            </ul>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
    </div>
  </div>


<div id="favorite-list" class="job-listings" hidden>
    <h2>Favorites</h2>

    <div class="card-deck">
      <% @favorited.each do |job| %>
      <%= link_to job_path(job) do %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card text-center">
          <%= image_tag "peopleoffice.jpg", class: "card-img-top img-fluid" %>
          <div class="card-block">
            <h4 class="card-title"><%= job.title %></h4>
            <p class="card-text company"><%= job.company %></p>
            <p class="card-text"><p><%= job.location %></p>

            <% if job.favorited?(current_user) %>

            <ul class="list-inline">
              <%= link_to favorite_path(job.favorite_by(current_user)), method: :delete do %>
              <li class="card-text saveme">Delete me! </li>
              <li><i class="fas fa-heart unfav">  </i></li>
              <% end %>
            </ul>

            <% else %>
            <ul class="list-inline">
              <%= link_to job_favorites_path(job), method: :create do %>
              <li class="card-text saveme">Save me! </li>
              <li><i class="fas fa-heart fav"> </i></li>
              <% end %>
            </ul>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
    </div>
  </div>


  <div id="applied-list" class="job-listings" hidden>
    <h2>Applied</h2>

    <div class="card-deck">
      <% @applied.each do |job| %>
      <%= link_to job_path(job) do %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card text-center">
          <%= image_tag "peopleoffice.jpg", class: "card-img-top img-fluid" %>
          <div class="card-block">
            <h4 class="card-title"><%= job.title %></h4>
            <p class="card-text company"><%= job.company %></p>
            <p class="card-text"><p><%= job.location %></p>

            <% if job.favorited?(current_user) %>

            <ul class="list-inline">
              <%= link_to favorite_path(job.favorite_by(current_user)), method: :delete do %>
              <li class="card-text saveme">Delete me! </li>
              <li><i class="fas fa-heart unfav">  </i></li>
              <% end %>
            </ul>

            <% else %>
            <ul class="list-inline">
              <%= link_to job_favorites_path(job), method: :create do %>
              <li class="card-text saveme">Save me! </li>
              <li><i class="fas fa-heart fav"> </i></li>
              <% end %>
            </ul>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
    </div>
  </div>

<script>
  const tabs = document.querySelectorAll(".select-tab")
  const lists = document.querySelectorAll(".job-listings")
  tabs.forEach(function(tab) {
    tab.addEventListener("click", function(event) {
      let target = tab.getAttribute("data-target");
      let toActivateTab = document.getElementById(target);
      lists.forEach(list => list.hidden = true);
      toActivateTab.hidden = false
    })
  })
</script>
</body>
