<head>
  <% content_for :meta_title, "#{@job.title}: Opportunity on #{DEFAULT_META["meta_product_name"]}" %>
  <% content_for :meta_description, @job.description %>
</head>
<body>

  <h1 class="centered small-padded-title"><%= @job.title  %></h1>
  <h4 class="centered"><%= @job.company %></h2>

    <div class="row justify-content-center">
      <div class="col-8">
        <h5 class="centered"><%= @job.location_list %></h3>
          <p class="small-padded-title"><%= @job.description %></p>

          <div class="grid grid-bordered">
            <div class="grid-first-column">
              <div class="values">Values:</div>
              <% @job.value_list.each do |value| %>
              <ul class="values-list">
                <li><%= value %> </li>
              </ul>
              <% end %>
            </div>

            <div class="grid-second-column-first">
              <div class="values" style="text-align: center">Skills needed:</div>
              <% @job.skill_list.each do |skill| %>
              <ul class="skills-list">
                <li><%= skill.chop %></li>
              </ul>
              <% end %>
            </div>

            <div class="grid-second-column-second">
              <div class="values small-padded-title" style="text-align: center">Salary range:</div>
              <div class="salary"> <%= @job.salary_list.last %></div>
            </div>

          </div>

          <div class="row justify-content-center text-center">
            <div class="bottom-buttons col-8">
              <% if @already_applied%>
              <%= link_to 'Cancel?', job_application_path(@job, @application), method: :delete, class: "btn cancel" %>
              <% else %>
              <%= link_to 'Apply Now', job_applications_path(@job), method: :create, class: "btn apply" %>
              <% end %>

              <%= link_to 'Back', dashboard_index_path, class: "btn" %>
            </div>
          </div>
        </div>



