<h1>Jobs#show</h1>

<h1><%= @job.title  %></h1>
<h2><%= @job.company %></h2>
<h3><%= @job.location %></h3>
<p><%= @job.description %></p>
 <%= @application %>

  <% if @already_applied%>
  <p>pending</p>
  <% else %>
  <%= link_to 'Apply', job_applications_path(@job), method: :create %>
  <%= link_to 'Back', dashboard_index_path(@job), method: :create %>


  <% end %>
