
<html>
<body>
  <div class="container ">
    <div class="row">
      <div class="col-xs-9">
        <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :location %>
        <%= f.input :resume_file_path, label: "Upload your profile image" %>
        <%= f.input :resume_file_path_cache, as: :hidden %>

        <%= f.input :photo, label: "Upload your profile image" %>
        <%= f.input :photo_cache, as: :hidden %>

        <div class="form-inputs">
          <h1> What skills do you bring to the table? </h1>
          <%= simple_fields_for :tags do |t| %>
          <%= t.input :skills, collection: @skills, input_html: { class: 'select2', multiple: true, checkbox: true } %>
          <h1>Choose what's important in a role: </h1>
          <p>Note: You will ONLY see jobs with these values.</p>
          <%= t.input :values, collection: @values, input_html: { class: 'select2', multiple: true } %>
          <h1>Choose salary ranges you would consider: </h1>
          <%= t.input :salaries, collection: @salaries, input_html: { class: 'select2', multiple: true } %>
          <% end %>
          <%= f.button :submit,  'Submit', class: 'btn btn-treehouse'%>
          <% end %>
        </div>




        <script>
          function addRemoveListener(button) {
            button.addEventListener('click', (e) => {
              e.preventDefault();
      //  REMOVE TAG FROM ARRAY
      const tag = removeWhiteSpace(button.parentElement.innerText);
      const index = tagArray.indexOf(tag);
      tagArray.splice(index, 1);
      // REMOVE HTML ELEMENT
      button.parentElement.remove();
    })
          };

          searchButton.addEventListener('click', (e) => {
            e.preventDefault();
    // Grab the value of the search button and emptying.
    const query_input = document.getElementById('invoice_search_input')
    const query = removeWhiteSpace(query_input.value.toLowerCase());
    query_input.value = "";

    if (tagArray.includes(query)) {
      return;
    };
    // grabbing the list element for displayed tags

    addButtonToDocument(query);
  })
        }
      </script>

    </div>
  </div>
</div>
  </body>
</html>
