<body class="form" onsubmit="return validateForm()">

  <div class="row justify-content-center">
    <div class="col-xs-9">
       <% if !current_user %>
       <h4>Welcome to Find My Flock</h4>
        <p class="no-space">Please tell us a little more about you</p>
        <% end %>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-tab">
          <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal-info" role="tab">Personal info</a>
        </li>
        <li class="nav-tab">
          <a class="nav-link" id="cv-tab" data-toggle="tab" href="#cv" role="tab">CV & Photo</a>
        </li>
        <li class="nav-tab">
          <a class="nav-link" id="locations-tab" data-toggle="tab" href="#locations" role="tab">Locations</a>
        </li>
        <li class="nav-tab">
          <a class="nav-link" id="skills-tab" data-toggle="tab" href="#skills" role="tab">Skills</a>
        </li>
        <li class="nav-tab">
          <a class="nav-link" data-toggle="tab" id="values-tab" href="#values" role="tab">Values</a>
        </li>
        <li class="nav-tab">
          <a class="nav-link" data-toggle="tab" id="salary-tab" href="#salary" role="tab">Salary</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content active ">
        <div class="tab-pane active" id="personal-info" role="tabpanel">
          <div class="form-box">

            <div class="row">
              <div class="col-xs-3">
                <div class = "avatar-edit">
                  <% if current_user %>
                    <% if current_user.photo %>
                      <%#= cl_image_tag current_user.photo, class: "avatar", style: "width: 100px"%>
                    <% else %>
                      <%= image_tag("user", class: "avatar ", style:"width:100px ") %>
                    <% end %>
                    <% else %>
                  <% end %>
                </div>
              </div>

              <div class="col-xs-6">

                <%= simple_form_for(@user) do |f| %>
                <%= f.error_notification %>
                <%= f.input :first_name, :label_html => { :class => 'form-text' } %>
                <%= f.input :last_name, :label_html => { :class => 'form-text' } %>
                <br>
                <a class="nav-link next-btn btn btn-wide" data-toggle="tab" href="#cv" role="tab" data-next-tab="cv-tab">Next</a>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="cv" role="tabpanel">
         <div class="form-box">
          <div class="form-inputs">
            <h4 class="no-space"> Upload your CV & Profile picture </h4>
            <br>
            <div class="row">
              <div class="col-sm-3">
                <% if current_user %>
                  <% if current_user.photo %>
                    <%#= cl_image_tag current_user.photo, class: "avatar", style: "width: 100px"%>
                  <% else %>
                    <%= image_tag("user", class: "avatar", style:"width:100px ") %>
                  <% end %>
                <% end %>

            </div>
              <div class="col-sm-6">
                <% if current_user.resume_file_path.file %>
                <h2>Hello</h2>

               <% else %>
               <%= f.input :resume_file_path, label: "Resume", :label_html => { :class => 'form-text' } %>
               <%= f.input :resume_file_path_cache, as: :hidden , class: " btn-wide" %>

               <% end %>

               <% if current_user.photo.file %>
               <h2>Hello</h2>
               <% else %>
                <%= f.input :photo, label: "Profile image", :label_html => { :class => 'form-text' } %>
              <%= f.input :photo_cache, as: :hidden, class: "btn-wide" %>
              <% end %>
               <br>
        <a class="nav-link btn next-btn btn-wide" data-toggle="tab" href="#locations" data-next-tab="locations-tab" role="tab">Next</a>
             </div>
          </div>
        </div>

      </div>
    </div>

    <div class="tab-pane" id="locations" role="tabpanel">
     <div class="form-box">
      <div class="form-inputs">
        <h4 class="no-space"> In which areas do you want a job? </h4>
        <p>If you're open to any location, skip ahead.</p>
        <br>

        <%= simple_fields_for :tags do |t| %>
        <%= t.input :locations, collection: @locations, label: false, input_html: { class: 'select2', multiple: true, :style => "width: 100%"} %>
      </div>
      <br>
      <a class="nav-link btn next-btn btn-wide" data-toggle="tab" href="#skills" role="tab" data-next-tab="skills-tab">Next</a>
    </div>
  </div>

    <div class="tab-pane" id="skills" role="tabpanel">
     <div class="form-box">
      <div class="form-inputs">
        <h4 class="no-space"> What skills do you bring to the table? </h4>
        <p>Add your top five skills from below.</p>

        <br>

  <%= content_for(:after_js) do %>
    <script>
      $('.select2').val(<%= raw @user_readable_skills %>)

    </script>
  <% end %>

        <%= t.input :skills, collection: @skills, input_html: {value: @user.skills.join(", ")} ,label: false, input_html: { class: 'select2', multiple: true, :style => "width: 100%"} %>
      </div>
      <br>
      <a class="nav-link btn next-btn btn-wide" data-toggle="tab" href="#values" role="tab" data-next-tab="values-tab">Next</a>
    </div>
  </div>

  <div class="tab-pane" id="values" role="tabpanel">
    <div class="form-box">
      <h4 class="no-space">Choose what's important in a role: </h4>
      <p>Note: You will <em>ONLY</em> see jobs with these values.</p>
      <br>
      <%= t.input :values, collection: @values, label: false, input_html: { class: 'select2', multiple: true, :style => "width: 100%" } %>
      <br>
      <a class="nav-link next-btn btn btn-wide" data-toggle="tab" href="#salary" role="tab" data-next-tab="salary-tab">Next</a>
    </div>
  </div>
  <div class="tab-pane" id="salary" role="tabpanel">
    <div class="form-box">
      <h4 class="no-space">Choose salary ranges you would consider: </h4>
      <p>If it's not important just leave it blank.</p>

      <%= t.input :salaries, collection: @salaries, label: false, input_html: { class: 'select2', multiple: true, :style => "width: 100%" } %>
      <% end %>
      <br>
      <%= f.button :submit,  'Submit', :class => 'btn btn-wide btn-group-justified', data: { disable_with: false } %>
    </div>
  <% end %>
  </div>
</div>
</div>
</body>
<script>
      // GRAB all the next buttons
      const items = document.querySelectorAll('.nav-link');
      const nextButtons = document.querySelectorAll('.next-btn');


      items.forEach((tab) => {

        tab.addEventListener('click', function(e) {
          items.forEach((thing) => {
            thing.classList.remove("active")
          })
        })
      })

      // On each next button add an eventListener
      nextButtons.forEach(button => {
        button.addEventListener('click', function(event) {
          let target = button.getAttribute('data-next-tab')
          let nextTab = document.getElementById(target)
          items.forEach(item => {
            item.classList.remove("active")
          })
          nextTab.classList.add("active")

          //console.log($(skill).find(":selected").data("id"))
          // When they click do the following
          // Find the active item in the array
        })
      })
        //console.log($(skill).find(":selected").data("id"))

        function validateForm() {

          const skillsDiv = document.querySelector(".tags_skills")
          const input = skillsDiv.querySelector("input")
          const selection = input.nextElementSibling
          const options = selection.querySelectorAll('option')

          const firstName = document.querySelector("#user_first_name").value
          const lastName = document.querySelector("#user_last_name").value
          if (firstName.replace(/\s/g, '') == "") {
            alert("Please enter a first name");
            return false;
            //submitButton.disabled = false;
          }
          if (lastName.replace(/\s/g, '') == "" ) {
            alert("Please enter a last name");
            return false;
          }

          let selectedCount = 0
          options.forEach((option) => {
            if (option.selected) {
              selectedCount += 1
            }
          } )
          if (selectedCount == 0) {

            alert("Please select at least one skill")

            return false;
            submitButton.disabled = false;

          }else if (selectedCount > 10) {
            alert("Woah! Do you really have that many skills? Please select 10 or less skills.")
            return false;
            submitButton.disabled = false;
          }
          else{
            return true;
          }

        }
        const resume = document.getElementById('user_resume_file_path')
        console.log(resume)


    </script>
