<html>
<body>
  <div class="container form">
    <div class="row justify-content-center">
      <div class="col-xs-9">
        <h2>Hi , tell us a little more about you</h2>

        <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#personal-info" role="tab">Personal info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#skills" role="tab">skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#values" role="tab">Values</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#salary" role="tab">Salary</a>
        </li>
      </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="personal-info" role="tabpanel">


        <div class="form-box">
          <%= simple_form_for(@user) do |f| %>
          <%= f.error_notification %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :location %>
          <%= f.input :resume_file_path, label: "Upload your Resume" %>
          <%= f.input :resume_file_path_cache, as: :hidden , class: "btn-stroke" %>

          <%= f.input :photo, label: "Upload your profile image" %>
          <%= f.input :photo_cache, as: :hidden %>

          <a class="nav-link btn-stroke" data-toggle="tab" href="#skills" role="tab">Next</a>
      </div>
  </div>

  <div class="tab-pane" id="skills" role="tabpanel">
     <div class="form-box">
        <div class="form-inputs">
          <h2> What skills do you bring to the table? </h2>
          <%= simple_fields_for :tags do |t| %>
          <%= t.input :skills, collection: @skills, label: false, input_html: { class: 'select2', multiple: true} %>
        </div>
        <a class="nav-link btn-stroke" data-toggle="tab" href="#values" role="tab">Next</a>
      </div>
  </div>
  <div class="tab-pane" id="values" role="tabpanel">
      <div class="form-box">
        <h2>Choose what's important in a role: </h2>
        <p>Note: You will ONLY see jobs with these values.</p>
        <%= t.input :values, collection: @values, input_html: { class: 'select2', multiple: true } %>
        <a class="nav-link btn-stroke" data-toggle="tab" href="#salary" role="tab">Next</a>
      </div>
  </div>

  <div class="tab-pane" id="salary" role="tabpanel">
      <div class="form-box">
        <h2>Choose salary ranges you would consider: </h2>
        <%= t.input :salaries, collection: @salaries, input_html: { class: 'select2', multiple: true } %>
        <% end %>
      </div>
      <p><%= f.button :submit,  'Submit', class: 'nav-link btn-stroke'%></p>
        </div>

        <h1> What skills do you bring to the table? </h1>

        <div class="form-box">
          <div class="form-inputs">
            <%= simple_fields_for :tags do |t| %>
            <%= t.input :skills, collection: @skills, input_html: { class: 'select2', multiple: true, checkbox: true } %>
          </div>
        </div>

        <h1>Choose what's important in a role: </h1>
        <p>Note: You will ONLY see jobs with these values.</p>

        <div class="form-box">
          <%= t.input :values, collection: @values, input_html: { class: 'select2', multiple: true } %>
        </div>

        <h1>Choose salary ranges you would consider: </h1>

        <div class="form-box">
          <%= t.input :salaries, collection: @salaries, input_html: { class: 'select2', multiple: true } %>
          <% end %>
        </div>



        <p><%= f.button :submit,  'Submit', class: 'btn btn-stroke'%></p>
        <% end %>
  </div>
</div>


    </div>
  </div>
</div>
</body>
</html>
