<div class="container">
  <h1>Hi <%= current_user.first_name %> <%= current_user.last_name %></h1>
  <%= link_to 'Edit', edit_user_path(current_user), class:'btn' %>
  <h5>You are based in <em><%= current_user.location %></em></h5>

  <div>
    <h5>Your skils are:</h5>
    <ul>
    <% current_user.skill_list.each do |skill| %>
      <li><%= skill.chop %> (Competency: <%= current_user.competency_description(skill.slice(-1).to_i - 1) %>)</li>
    <% end %>
  </div>

  <div>
    <h5>Your values are:</h5>
    <ul>
    <% current_user.value_list.each do |value| %>
      <li><%= value %></li>
    <% end %>
  </div>
  <div>
    <h5>Your CV:</h5>
    <%= cl_image_tag(current_user.resume_file_path, :density => 50, :format => :png) %>
  </div>
</div>



