<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-logo mr-auto">
   <%= link_to root_path do %>
    <%= image_tag "flock_logo.png", height: 50 %>
    <% end %>
    </div>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <% if current_user %>
        <%= link_to "My Profile", user_path(current_user), class: "nav-item nav-link" %>
        <%= link_to "Dashboard", dashboard_index_path, class: "nav-item nav-link" %>
        <%= link_to "Log Out", destroy_registration_session_path(@registration), method: :delete, class: "nav-item nav-link" %>
      <% else %>
        <%= link_to "Log In", new_registration_session_path, class: "nav-item nav-link" %>
        <%= link_to "Sign In", new_registration_registration_path, class: "nav-item nav-link" %>
      <% end %>
    </ul>
  </div>
</nav>
