<body>

  <% if registration_signed_in? %>
  <% if current_user %>
  <ul class="container navbar-container">
    <li id="nav-left"> <%= link_to "Find my Flock", root_path %></li>
    <li class="underline" id="nav-right-padding"> <%= link_to "My Profile", user_path(current_user) %></li>
    <li class="underline" id="nav-right-padding"><%= link_to "Dashboard", dashboard_index_path %></li>
    <li class="underline" id="nav-right"><%= link_to "Log out", destroy_registration_session_path,:method => :delete %></li>

    <% else %>
    <li id="nav-left">Find my Flock</li>
    <li class="underline" id="nav-right-padding"><%= link_to "Log In", new_registration_session_path %></li>
    <li class="underline" id="nav-right"><%= link_to "Sign Up", new_registration_registration_path %></li>
    <% end %>
    <% end %>
  </ul>

  <div class="banner" style="background-image: url('<%= image_path 'officeimg.png', crop: :fill; %>') ;">
    <ul class="home-list">
      <div class="headline">Jobs you <em class="underlined">want</em>.</div>
      <br />
      <div class="typedjs">
        <h3 class="upperlined">Find the jobs that match your</h3>
        <div class="secondline"><span id="banner-typed-text"></span></div>
      </div>
    </ul>

    <% if registration_signed_in? %>
    <% if current_user %>
    <% link_to "See Your Matches", dashboard_index_path, class: "btn btn-outline-secondary login-home" %>
    <% else %>
    <%= link_to "Create Your Profile", new_user_path, class: "btn btn-outline-secondary signin-home" %>
    <% end %>
    <% else %>
    <%= link_to 'Create an account', new_registration_registration_path, class: "btn btn-outline-secondary signin-home" %>
    <% end %>
  </div>
</div>

<div class="job-samples">
  <h2 class="centered padded-title">Jobs Sample</h2>
  <div class="cards-container card-sample ">

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card card-home text-center">
        <%= image_tag "peopleoffice.jpg", class: "card-img-top img-fluid" %>
          <h4 class="card-title"> Full Stack Dev</h4>
          <p class="company"> Google </p>
          <h4 class="location"> Paris</h4>
          <a href="#" class="btn btn-page">Details...</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card card-home text-center">
        <%= image_tag "peopleoffice.jpg", class: "card-img-top img-fluid" %>
          <h4 class="card-title"> Growth Hacker </h4>
          <p class="company"> Microsoft </p>
          <h4 class="location"> Los Angeles </h4>
          <a href="#" class="btn btn-page">Details...</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card card-home text-center">
        <%= image_tag "peopleoffice.jpg", class: "card-img-top img-fluid" %>
          <h4 class="card-title"> Data Engineer </h4>
          <p class="company"> Apple </p>
          <h4 class="location"> Dublin </h4>
          <a href="#" class="btn btn-page">Details...</a>

        </div>
      </div>

  </div>
</div>


<h2 class="divider">They trust us</h2>
<%= image_tag "logos.png", class: "company-logos" %>
</div>
<h2 class="divider">Why joining us?</h2>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <img class="img-thumbnail rounded float-left" src="https://i.pinimg.com/564x/9b/ad/5b/9bad5b872ae3d8e6e4cfbfbef8ac8a3f.jpg" style=" height: 300px;">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <dl>
        <dt>Import your LinkedIn Profile</dt>
        <dd>Complete your profile in only a few seconds.</dd>
        <dt>Unique algorithm to match your ideal job</dt>
        <dd>Select your skills and values, and match with the jobs meeting your most fundamental criterias.</dd>
        <dt>Apply in one click</dt>
        <dd>One click will sent all the information provided by your profile to the recruiter linked to the job. One click is enough!</dd>
      </dl>
    </div>
  </div>
</div>
</body>
