<body class="home">
  <% if registration_signed_in? %>
  <% if current_user %>

  <ul class="container navbar-container">
    <a href="/">
      <img class="small-size" src="/assets/flock_logo-75ccb73b5853afc6ceaf58080f6910bb4c70ac51e78cb8e74c4146302876f788.png" alt="Flock logo">
    </a>
    <li id="nav-left"> <%= link_to "ind my Flock", root_path %></li>

    <li class="hidden-sm-down" id="nav-right-padding"> <%= link_to "My Profile", user_path(current_user) %></li>
    <li class="hidden-sm-down" id="nav-right-padding"><%= link_to "Dashboard", dashboard_index_path %></li>
    <li class="hidden-sm-down" id="nav-right"><%= link_to "Log out", destroy_registration_session_path,:method => :delete %></li>

    <!-- Dropdown Menu -->
    <div class="dropdown hidden-md-up">
      <button class="btn-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to "My Profile", user_path(current_user), class: "dropdown-padding" %>
        <%= link_to "Dashboard", dashboard_index_path %>
        <%= link_to "Log out", destroy_registration_session_path,:method => :delete %>
      </div>
    </div>
    <!-- End of dropdown menu -->
  </ul>

  <% else %>

  <ul class="container navbar-container">
    <a href="/">
      <img class="small-size" src="/assets/flock_logo-75ccb73b5853afc6ceaf58080f6910bb4c70ac51e78cb8e74c4146302876f788.png" alt="Flock logo">
    </a>
    <li id="nav-left hidden-sm-down"> <%= link_to "ind my Flock", root_path %></li>
    <li class="underline-logout hidden-sm-down" id="nav-right"><%= link_to "Log out", destroy_registration_session_path,:method => :delete %></li>

    <!-- Dropdown Menu -->
    <div class="dropdown hidden-md-up">
      <button class="btn-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to "Log out", destroy_registration_session_path,:method => :delete %>
      </div>
    </div>
    <!-- End of dropdown menu -->
  </ul>
  <% end %>

  <% else %>
  <ul class="container navbar-container">
    <a href="/">
      <img class="small-size" src="/assets/flock_logo-75ccb73b5853afc6ceaf58080f6910bb4c70ac51e78cb8e74c4146302876f788.png" alt="Flock logo">
    </a>
    <li id="nav-left"> <%= link_to "ind my Flock", root_path %></li>
    <li class="underline hidden-sm-down" id="nav-right-padding"><%= link_to "Log In", new_registration_session_path %></li>
    <li class="sign-up hidden-sm-down" id="nav-right"><%= link_to "Sign Up", new_registration_registration_path %></li>


    <!-- Dropdown Menu -->
    <div class="dropdown hidden-md-up">
      <button class="btn-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to "Log In", new_registration_session_path %>
        <%= link_to "Sign Up", new_registration_registration_path %>
      </div>
    </div>
    <!-- End of dropdown menu -->
  </ul>
  <% end %>

  <div class="banner" style="background-image: url('<%= image_path 'officeimgtransparency2.png', crop: :fill; %>') ;">
    <ul class="home-list">
      <div class="headline">Jobs you <em class="underlined-home-page">want</em>.</div>
      <h4 class="black-text margin-headline">We'll find your personal dream job, matching your</h4>
        <h4 class="black-text margin-headline"> <b class="boxed">skills, experiences</b> and <b class="boxed">desired benefits</b>.</h4>
        <!-- down blue arrow -->
        <div id="section07" class="demo">
              <span></span>
              <span></span>
              <span></span>
        </div>

    <h3 class="centered home-title black-text">The easiest way to find your dream job</h4>

      </div>
<!-- First line wit icons -->
<div class="section-2 centered">
  <table class="table-borderless">
  <thead>
    <tr>
      <th scope="col" class='centered icon-resized padding-home'><%=image_tag("affinitysearchicon.png")%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>We  provide  the  ability  to  search  for  benefits  with  greater  nuance</th>
    </tr>
  </tbody>
</table>

<table class="table-borderless">
  <thead>
    <tr>
      <th scope="col" class='centered icon-resized padding-home'><%=image_tag("transparencyicon.png")%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>More transparency around benefits, salary and company culture</td>
    </tr>
  </tbody>
</table>

  <table class="table-borderless">
  <thead>
    <tr>
      <th scope="col" class='centered icon-resized padding-home'><%=image_tag("timeicon.png")%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A fast application process that respects your time</td>
    </tr>
  </tbody>
</table>

<table class="table-borderless">
  <thead>
    <tr>
      <th scope="col" class='centered icon-resized padding-home'><%=image_tag("interviewicon.png")%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Get an interview coaching with a real human</td>
    </tr>
  </tbody>
</table>

</div>

      <h3 class="centered home-title negative-padding black-text">How it works?</h3>
<div class="section-3 centered">

      <div class="row padding-home flex-steps">
        <div class="col pictures-resized remove-margin-right"><%=image_tag("createprofileicon.png")%></div>
        <div class="col">1. <b>Create a profile</b> <br>
Tell us about yourself — your skills, your
preferred benefits, and your deal breakers.
Our application respects your time.</div>
      </div>

      <div class="row padding-home flex-steps">
        <div class="col">2. <b>Search jobs</b> <br>
Review job listings that match your unique
self. Filter lists further or adjust preferences
to see more or less jobs. </div>
        <div class="col pictures-resized remove-margin-left"><%=image_tag("filtericon.png")%></div>
      </div>

      <div class="row padding-home flex-steps">
        <div class="col pictures-resized remove-margin-right"><%=image_tag("applicationicon.png")%></div>
        <div class="col">3. <b>Apply </b> <br>
Apply for jobs and add a custom message to
go with it. Your application will be reviewed
by our team and if you are a good match
we’ll arrange an introduction. </div>
      </div>

      <div class="row padding-home flex-steps">
        <div class="col">4. <b>Interview with confidence</b> <br>
If you are chosen for an interview we’ll get
on the phone to provide free interview prep
so that you’ll go in feeling your best self. </div>
        <div class="col pictures-resized remove-margin-left"><%=image_tag("coachingicon.png")%></div>
      </div>


</div>



    </div>
  </div>

</body>
