<div class="section-5-background">
  <h4 class="centered blue-text">Companies</h4>
  <div class="section-5">

    <div class="row centered">

      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 resized-logo logo-home">
        <%=image_tag("logo-google.png")%>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 resized-logo logo-home">
        <%=image_tag("logo-microsoft.png")%>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 resized-logo logo-home">
        <%=image_tag("logo-google.png")%>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 resized-logo logo-home">
        <%=image_tag("logo-microsoft.png")%>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 resized-logo logo-home">
        <%=image_tag("logo-google.png")%>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 resized-logo logo-home">
        <%=image_tag("logo-microsoft.png")%>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 resized-logo logo-home">
        <%=image_tag("logo-google.png")%>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 resized-logo logo-home">
        <%=image_tag("logo-microsoft.png")%>
      </div>

    </div>
  </div>
</div>
