<div class="row justify-content-center">
  <div class="col-xs-11 col-sm-11 col-md-8">

    <div class="login-form">

      <h4 class="centered login-title">Log in to your account</h4>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <%= f.input :email, label: false, required: false, autofocus: true, placeholder: 'Email' %>
          <%= f.input :password, label: false, required: false, placeholder: 'Password' %>
          <%= f.button :submit, "Log in", class: "btn-orange log-in-button" %>

          <div class="inline">
            <%= f.input :remember_me,  :label_html => { :class => 'small-text' }, as: :boolean if devise_mapping.rememberable? %>
          </div>
          ·
          <div class="inline">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: "small-text forgot-password"  %><br />
            <% end %>
          </div>

        <% end %>

      </div>

      <div class="login-form-bottom">

        <div>
          <%= render "devise/shared/links" %>
        </div>
      </div>

  </div>
</div>

